.form_body{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    border: none;
    background-color: gray ;
    border-radius: 15px;
    padding: 45px;
    gap: 10px;
    width: 153px;
    margin-top: 200px;
}
form input{
    border-radius: 50px;
    width: 150px;
}
form label{
    text-align: center;
}
