<% if (user.color=== 'Naranja') { %>
    <body class="orange__body">
    <% } else if (user.color=== 'Gris'){ %>
        <body class="gris__body">
        <% } else if (user.color=== 'Celeste') { %>
            <body class="celeste__body">
            <% } else {%>
                <body class="ninguno_body" >
                <% } %>
                <h1>Hola Usuario <%= user.name  %>  </h1>
                <h2>
                 Tu color es: <%= user.color %>
                </h2>
        